@charset "utf-8";
/* CSS Document */

body{
	background-color:#FFFFFF;
}

.paragraph{
	font-size:12px;
	letter-spacing:0.8px;
}

.content{
	margin-top:1px;
}

#tab-two{
	display:none;
}

#tab-three{
	display:none;
}


.landing-logo{
	width:120px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
}

.landing-copyright{
	margin-bottom:10px;
	text-align:center;
}

.welcome-text h3{
	font-family:"隶书";
	font-size:16px;
	color:#535353;
	font-weight:300;
	text-align:center;
	text-transform:uppercase;
	margin-top:10px;
}

.welcome-text p{
	text-align:center;
	font-size:16px;
	font-family:"楷体";
	font-weight:400;
	text-transform:uppercase;
	margin-top:5px;
	margin-bottom:10px;
	color:#500;
}

.six h3{
	font-family:"楷体", "方正清刻本悦宋简体";
	font-size:18px;
	color:#633;
	font-weight:300;
	text-align:center;
	text-transform:uppercase;
	margin-top:10px;
}
.navigation-icons1{
	width:320px;
	margin-left:auto;
	margin-right:auto;	
}
.navigation-icons{
	width:360px;
	margin-left:auto;
	margin-right:auto;	
}


.XDSL-nav{
	background-image:url(../images/西南大学六大校级组织/西大社联.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:140px 140px;	
}

.XDCM-nav{
	background-image:url(../images/西南大学六大校级组织/西大创盟.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:130px 130px;
}

.XDTXS-nav{
	background-image:url(../images/西南大学六大校级组织/西大通讯社.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:140px 140px;
}
.XDXSH-nav{
	background-image:url(../images/西南大学六大校级组织/西大学生会.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:110px 110px;
}

.XDQNZYZ-nav{
	background-image:url(../images/西南大学六大校级组织/西大青年志愿者.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:130px 130px;
}

.XDYST-nav{
	background-image:url(../images/西南大学六大校级组织/西大艺术团.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:130px 130px;
}

.GY-nav{
	background-image:url(../images/学院/工院.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:90px 90px;
}

.DXY-nav{
	background-image:url(../images/学院/电信院.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:90px 90px;
}.CLY-nav{
	background-image:url(../images/学院/材料院.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:90px 90px;
}.ZHY-nav{
	background-image:url(../images/学院/资环院.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:90px 90px;
}.DY-nav{
	background-image:url(../images/学院/动科院.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:90px 90px;
}.WY-nav{
	background-image:url(../images/学院/外院.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:80px 80px;
}.TY-nav{
	background-image:url(../images/学院/体院.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:90px 90px;
}.STY-nav{
	background-image:url(../images/学院/数统院.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:90px 90px;
}.DKY-nav{
	background-image:url(../images/学院/地科院.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:130px 130px;
}.JXY-nav{
	background-image:url(../images/学院/计信院.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:90px 90px;
}
.JGY-nav{
	background-image:url(../images/学院/经管院.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:90px 90px;
}
.SPY-nav{
	background-image:url(../images/学院/食品院.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:110px 110px;
}
.XTXY-nav{
	background-image:url(../images/学院/西塔学院.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:100px 100px;
}
.MY-nav{
	background-image:url(../images/学院/马院.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:100px 100px;
}
.ZGY-nav{
	background-image:url(../images/学院/政管院.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:120px 120px;
}
.GJXY-nav{
	background-image:url(../images/学院/国际学院.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:90px 90px;
}

.nav-icon{
	float: left;
	border-radius: 400px;
	width: 135px;
	height: 135px;
	margin-left: 40px;
	margin-right: 2px;
	margin-bottom: 40px;
}

.nav-icon1{
	float:left;
	border-radius:400px;
	width:140px;
	height:140px;
	margin-left:90px;
	margin-right:2px;
	margin-bottom:50px;
}


.icon-red{
	background-color:#fc5858;
}

.icon-blue{
	background-color:#259780;
}

.icon-dblue{
	background-color:#2f95bf;
}

.icon-magenta{
	background-color:#9b59b6;
}

.icon-green{
	background-color:#2ecc71;
}

.icon-yellow{
	background-color:#f1c40f;
}

.small-navigation-icons{
	margin-top:25px;
	width:250px;
	margin-left:auto;
	margin-right:auto;	
}

.copyright{
	color:#252525;
	display:block;
	text-transform:uppercase;
	float:none;
	text-align:center;
	margin-top:20px;
	font-size:12px;
}

.footer{
	margin-top:-30px;
}

.small-nav-icon{
	width:45px;
	height:45px;
	border-radius:40px;
	margin-left:20px;
	margin-right:10px;
	float:left;
}



.sina-nav{
	background-image:url(../images/更多/sina.jpg);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:55px 55px;

}

.qzone-nav{
	background-image:url(../images/更多/qzone.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:45px 45px;

}

.wechat-nav{
	background-image:url(../images/更多/wechat.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:60px 60px;

}

.up-nav{
	background-image:url(../images/icon/arrows/bendedup.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:24px 24px;
	background-color:#e34e47;
}




.header{
	position:fixed;
	width:100%;
	z-index:9999;
	height:70px;
	background-color:#f9f9f9;
	border-bottom:solid 1px #e9e9e9;
}

.header-clear{
	height:70px;
}


.logo-home{
	margin-left:20px;
	margin-top:15px;
	margin-bottom:15px;
	float:left;
}

.header-text{
	float:right;
	padding-top:17px;
}

.header-text strong{
	letter-spacing:normal;
	font-family:'Lato', sans-serif;
	font-size:18px;
	color:#3b4043;
	font-weight:600;
	display:block;
	text-align:right;
	padding-right:20px;
}

.header-text em{
	font-family:'Dosis', sans-serif;
	font-size:13px;
	letter-spacing:0.8px;
	font-style:normal;
	color:#3b4043;
	display:block;
	padding-right:20px;
}

.heading{
	margin-bottom:20px;
}

.heading em{
	font-family:'Dosis', sans-serif;
	font-style:normal;
	font-size:12px;
	color:#ce1a13;
}

.heading h3{
	color:#252525;
	font-weight:200;	
}

.heading-left{
	float:left;
}

.heading-right{
	float:right;
	margin-top:5px;
}

.thumbs{
	width:110%;
	margin-left:-5%;
}


.thumb{
	width:50%;
	box-sizing:border-box;
	padding-left:10px;
	padding-right:10px;
	float:left;
	margin-bottom:10px;
}

.thumb img{
	width:100%;
	display:block;
}


.left-thumb-text{
	color:#FFFFFF;
	text-align:left;
	padding-left:10px;
	margin-top:-30px;
}

.right-thumb-text{
	color:#FFFFFF;
	text-align:right;
	padding-right:10px;
	margin-top:-30px;
}

.content-tab{
	font-size:14px;
	color:#FFFFFF;
	background-color:#252525;
	width:32%;
	text-transform:uppercase;
	float:left;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
	margin-left:2px;
	margin-bottom:20px;
	margin-top:10px;
}
